.sidebar
{
  height: 100vh;
}
.main
{
  height: 100vh;
}
.content
{
  height: 90%;
}
.sidebar
{
  width: 100%;
  padding: 5px;

}
.col-3
{
  background-color: #404040 !important;
  border-radius: 15px !important;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 24px;
  padding: 8px 16px;
  max-width: 600px;
  margin: 0 auto;
}

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  color: #555;
}

.row
{
  background-color:black;
  color: #fff;
  margin-top: 5px;
}
.navbar
{
  line-height: 26px;
  font-size: 17px;
}